certifi==2020.4.5.1
chardet==3.0.4
fire==0.3.1
idna==2.9
joblib==0.14.1
keras2onnx==1.6.1
numpy==1.18.3
onnx==1.6.0
onnxconverter-common==1.6.1
onnxmltools==1.6.1
onnxruntime==1.2.0
pandas==1.0.3
protobuf==3.11.3
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
skl2onnx==1.6.1
sklearn==0.0
termcolor==1.1.0
typing-extensions==3.7.4.2
urllib3==1.25.9
